{
  "openapi": "3.0.0",
  "info": {
    "title": "ROO.AI Platform API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://lp.driveroo.com",
      "description": "Base URL for the API."
    }
  ],
  "tags": [
    {
      "name": "User API",
      "description": "Manage the users in your company."
    }
  ],
  "paths": {
    "/userApi/fleets/users": {
      "get": {
        "x-public": true,
        "tags": [
          "User API"
        ],
        "summary": "List company users",
        "description": "Lists users in the current company.",
        "operationId": "listCompanyUsers",
        "responses": {
          "401": {
            "$ref": "#/components/responses/401JWT",
            "description": "Missing or invalid JWT."
          },
          "403": {
            "$ref": "#/components/responses/403JWT",
            "description": "Forbidden. You do not have permission to perform this action."
          },
          "200": {
            "description": "Returns a list of users in the current company. Supports pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of company user objects, one object per user.",
                      "items": {
                        "$ref": "#/components/schemas/companyUser"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "Pagination metadata for the user list.",
                      "properties": {
                        "pagination": {
                          "type": "object",
                          "description": "Pagination details for the current response.",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "description": "Total number of users that match the filters.",
                              "example": 32
                            },
                            "count": {
                              "type": "integer",
                              "description": "Number of users returned in this response.",
                              "example": 20
                            },
                            "per_page": {
                              "type": "integer",
                              "description": "Requested users per page.",
                              "example": 20
                            },
                            "current_page": {
                              "type": "integer",
                              "description": "Current page number.",
                              "example": 1
                            },
                            "total_pages": {
                              "type": "integer",
                              "description": "Total number of pages.",
                              "example": 2
                            },
                            "links": {
                              "type": "object",
                              "description": "Pagination links for navigating additional pages.",
                              "properties": {
                                "next": {
                                  "type": "string",
                                  "description": "URL for the next page when more users exist beyond the current page.",
                                  "example": "https://lp.driveroo.com/userApi/fleets/users?page=2"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "True if the request succeeds; false for 401 or 403 errors."
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "x-public": true,
        "tags": [
          "User API"
        ],
        "summary": "Create a company user",
        "description": "Creates a user in the current company.",
        "operationId": "createCompanyUser",
        "requestBody": {
          "$ref": "#/components/requestBodies/users.storeCompanyUser"
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/401JWT",
            "description": "Missing or invalid JWT."
          },
          "403": {
            "$ref": "#/components/responses/403JWT",
            "description": "Forbidden. You do not have permission to perform this action."
          },
          "200": {
            "description": "Returns the created company user when `success: true`. Business validation failures return HTTP `200` with `success: false` and error details.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/companyUser"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "example": "Invalid input."
                        },
                        "error_code": {
                          "type": "integer",
                          "example": 101
                        },
                        "error_messages": {
                          "type": "string",
                          "example": "The selected role is invalid.,The selected groups.0.role_id is invalid.,The selected groups.0.group_id is invalid."
                        },
                        "error_list": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The selected role is invalid.",
                            "The selected groups.0.role_id is invalid.",
                            "The selected groups.0.group_id is invalid."
                          ]
                        },
                        "error_scope": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {
                            "role": "The selected role is invalid.",
                            "groups.0.role_id": "The selected groups.0.role_id is invalid.",
                            "groups.0.group_id": "The selected groups.0.group_id is invalid."
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/userApi/fleets/users/{user}": {
      "get": {
        "x-public": true,
        "tags": [
          "User API"
        ],
        "summary": "Get a company user",
        "description": "Gets a company user by ID.",
        "operationId": "getCompanyUser",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "description": "The user ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/components/responses/401JWT",
            "description": "Missing or invalid JWT."
          },
          "403": {
            "$ref": "#/components/responses/403JWT",
            "description": "Forbidden. You do not have permission to perform this action."
          },
          "200": {
            "description": "Returns a company user by ID, including related lookup data (roles, groups, languages, timezones).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/companyUserDetail"
                        }
                      ],
                      "description": "A detailed company user object."
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "True if the request succeeds; false for 401 or 403 errors."
                    },
                    "roles": {
                      "type": "object",
                      "description": "Map of role ID to role name.",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "65": "manager",
                        "66": "dispatcher",
                        "67": "driver"
                      }
                    },
                    "groups": {
                      "type": "object",
                      "description": "Map of group ID to group name.",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "56": "First team",
                        "74": "Second team"
                      }
                    },
                    "languages": {
                      "type": "object",
                      "description": "Map of language code to language name.",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "en": "English",
                        "es": "Spanish",
                        "ar": "Arabic"
                      }
                    },
                    "timezones": {
                      "type": "object",
                      "description": "Map of display name to IANA timezone identifier.",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "(UTC-10:00) Hawaii": "Pacific/Honolulu",
                        "(UTC-08:00) Pacific Time (US & Canada)": "America/Los_Angeles"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-public": true,
        "tags": [
          "User API"
        ],
        "summary": "Update a company user",
        "description": "Updates a user in the current company.",
        "operationId": "updateCompanyUser",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "description": "The user ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/users.storeCompanyUser"
        },
        "responses": {
          "401": {
            "$ref": "#/components/responses/401JWT",
            "description": "Missing or invalid JWT."
          },
          "403": {
            "$ref": "#/components/responses/403JWT",
            "description": "Forbidden. You do not have permission to perform this action."
          },
          "200": {
            "description": "Returns the updated company user when `success: true`. Business validation failures return HTTP `200` with `success: false` and error details.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/companyUser"
                        },
                        "success": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "example": "Invalid input."
                        },
                        "error_code": {
                          "type": "integer",
                          "example": 101
                        },
                        "error_messages": {
                          "type": "string",
                          "example": "The selected role is invalid.,The selected groups.0.role_id is invalid.,The selected groups.0.group_id is invalid."
                        },
                        "error_list": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The selected role is invalid.",
                            "The selected groups.0.role_id is invalid.",
                            "The selected groups.0.group_id is invalid."
                          ]
                        },
                        "error_scope": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {
                            "role": "The selected role is invalid.",
                            "groups.0.role_id": "The selected groups.0.role_id is invalid.",
                            "groups.0.group_id": "The selected groups.0.group_id is invalid."
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/userApi/fleets/users/all": {
      "get": {
        "x-public": true,
        "tags": [
          "User API"
        ],
        "summary": "List company users (no pagination)",
        "description": "Returns all users in the current company.",
        "operationId": "listCompanyUsersAll",
        "responses": {
          "401": {
            "$ref": "#/components/responses/401JWT",
            "description": "Missing or invalid JWT."
          },
          "403": {
            "$ref": "#/components/responses/403JWT",
            "description": "Forbidden. You do not have permission to perform this action."
          },
          "200": {
            "description": "Returns the full list of company users with the `accidents` count per user. This endpoint does not paginate results.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of company user objects, one object per user.",
                      "items": {
                        "$ref": "#/components/schemas/companyUserWithAccidents"
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "True if the request succeeds; false for 401 or 403 errors."
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "companyUser": {
        "description": "A company user object.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/user.id",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "The resource type.",
            "example": "user",
            "readOnly": true
          },
          "name": {
            "$ref": "#/components/schemas/user.name",
            "readOnly": true
          },
          "first_name": {
            "$ref": "#/components/schemas/user.first_name"
          },
          "last_name": {
            "$ref": "#/components/schemas/user.last_name"
          },
          "gender": {
            "$ref": "#/components/schemas/user.gender"
          },
          "login": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user.login"
              }
            ],
            "nullable": true
          },
          "email": {
            "$ref": "#/components/schemas/user.email"
          },
          "phone": {
            "$ref": "#/components/schemas/user.phone"
          },
          "mobile_verified": {
            "$ref": "#/components/schemas/user.mobile_verified"
          },
          "picture": {
            "$ref": "#/components/schemas/user.picture"
          },
          "language": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user.language"
              }
            ],
            "nullable": true
          },
          "zip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user.zip"
              }
            ],
            "nullable": true
          },
          "role_updatable": {
            "description": "True if you can update the user's role; false for fleet owners.",
            "type": "boolean",
            "example": true,
            "readOnly": true
          },
          "has_system_global_role": {
            "type": "boolean",
            "description": "True if the user has a system-level global role (role without a company or group scope).",
            "example": false,
            "readOnly": true
          },
          "company": {
            "$ref": "#/components/schemas/company.name",
            "readOnly": true
          },
          "timezone": {
            "$ref": "#/components/schemas/user.timezone"
          },
          "default_visibility": {
            "$ref": "#/components/schemas/user.default_visibility",
            "readOnly": true
          },
          "notes": {
            "$ref": "#/components/schemas/user.notes"
          },
          "notification_channels": {
            "type": "integer",
            "description": "A bitmask of enabled notification channels. Example: `10` (decimal) = `1010` (binary). Channel values: `Email=1`, `SMS=2`, `Push=4`, `In-app=8`. `10` = `8` + `2`, so In-app and SMS are enabled.",
            "example": 10,
            "readOnly": true
          },
          "last_login": {
            "type": "string",
            "description": "The last login timestamp. Empty when unknown.",
            "example": "2025-01-24 14:05:00",
            "readOnly": true
          },
          "last_activity": {
            "type": "string",
            "description": "The last activity source. Possible values: `App` (mobile app) or `Dashboard` (web dashboard). Empty when unknown.",
            "example": "App",
            "readOnly": true
          },
          "status": {
            "type": "integer",
            "description": "The user status code. Values: `0=Deactivated`, `1=Active`, `2=Invited`, `3=Never logged in`.",
            "example": 2,
            "readOnly": true
          },
          "status_string": {
            "type": "string",
            "description": "The user status label that corresponds to `status`.",
            "example": "Invited",
            "readOnly": true
          },
          "deactivated_at": {
            "type": "string",
            "description": "The deactivation timestamp. Empty when the user is active.",
            "example": "2025-01-12 09:30:00",
            "readOnly": true
          },
          "related_id": {
            "type": "string",
            "description": "An external identifier that links this user with another system.",
            "example": null,
            "nullable": true
          },
          "application_tab": {
            "type": "string",
            "description": "The default mobile app tab key for the user. This is a string enum with allowed values: `default`, `home`, `wo`, `assets`, `tasks`, `history`, `issues`, `documents`, `daily`, `insights`. The `default` value means inherit the environment-level default tab (by default, Home).",
            "example": "default"
          },
          "application_tab_label": {
            "type": "string",
            "description": "The human-readable label derived from `application_tab`.",
            "example": "~ Inherit default tab ~",
            "readOnly": true
          },
          "attributes": {
            "type": "object",
            "description": "A key-value map of custom user attributes. Empty object when none are set.",
            "additionalProperties": true
          },
          "groups": {
            "type": "array",
            "description": "An array of company groups the user belongs to, including the user's role in each group.",
            "items": {
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "integer",
                  "description": "The company group ID.",
                  "example": 56
                },
                "group_name": {
                  "type": "string",
                  "description": "The company group name.",
                  "example": "First team"
                },
                "role_id": {
                  "type": "integer",
                  "description": "The company role ID.",
                  "example": 65
                },
                "role": {
                  "type": "string",
                  "description": "The company role name.",
                  "example": "manager"
                }
              }
            }
          },
          "role": {
            "type": "string",
            "description": "The global role name (not restricted to a group). Can be empty if the user has only group roles or no global role.",
            "example": "",
            "readOnly": true
          },
          "currency": {
            "type": "object",
            "description": "Currency configuration used for this user and company context.",
            "properties": {
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "name": {
                "type": "string",
                "example": "US Dollar"
              },
              "symbol": {
                "type": "string",
                "example": "$"
              },
              "is_symbol_first": {
                "type": "boolean",
                "description": "True if the currency symbol is shown before the amount; false if after.",
                "example": true
              }
            },
            "readOnly": true
          }
        },
        "type": "object"
      },
      "user.email": {
        "description": "The user's email address. Used for sign-in and notifications.",
        "type": "string",
        "format": "email",
        "example": "user@mail.com"
      },
      "user.first_name": {
        "description": "The user's first name.",
        "type": "string",
        "example": "Name"
      },
      "user.last_name": {
        "description": "The user's last name.",
        "type": "string",
        "example": "Surname"
      },
      "user.login": {
        "description": "The user's login.",
        "type": "string",
        "example": "l0giN"
      },
      "user.notes": {
        "description": "Notes about the user.",
        "type": "string",
        "example": "Driver notes",
        "nullable": true
      },
      "user.phone": {
        "description": "The user's phone number in international format.",
        "type": "string",
        "example": "+12125551212",
        "nullable": true
      },
      "user.id": {
        "description": "The user ID.",
        "type": "number",
        "format": "integer"
      },
      "user.name": {
        "description": "The user's full name (display name).",
        "type": "string",
        "format": "Name Surname"
      },
      "user.gender": {
        "description": "The user's gender.",
        "type": "string",
        "enum": [
          "male",
          "female",
          "others"
        ],
        "example": "male"
      },
      "user.mobile_verified": {
        "description": "True if the user has verified their mobile number.",
        "type": "boolean",
        "example": true
      },
      "user.picture": {
        "description": "URL for the user's profile picture.",
        "type": "string",
        "example": "http://image.site/picture.png"
      },
      "user.language": {
        "description": "The user's language.",
        "type": "string",
        "example": "en"
      },
      "user.zip": {
        "description": "The user's ZIP or postal code.",
        "type": "string",
        "example": "12345"
      },
      "user.timezone": {
        "description": "The user's timezone (IANA time zone name).",
        "type": "string",
        "format": "timezone",
        "example": "Pacific/Honolulu"
      },
      "user.default_visibility": {
        "description": "The user's default visibility flag (`1=visible`, `0=hidden`).",
        "type": "number",
        "format": "integer",
        "enum": [
          1,
          0
        ],
        "example": 0
      },
      "company.name": {
        "description": "The name of the company the user belongs to.",
        "type": "string",
        "example": "Moga Company"
      },
      "companyGroup": {
        "description": "A company group object.",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The group ID.",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "The group name.",
            "example": "First group"
          },
          "timezone": {
            "type": "string",
            "description": "The group timezone.",
            "example": "America/Los_Angeles"
          },
          "is_default": {
            "type": "boolean",
            "description": "True if this is the default group.",
            "example": false
          },
          "hours_increase_limit": {
            "type": "number",
            "description": "Hours increase limit for the group.",
            "example": 50.7
          },
          "mileage_increase_limit": {
            "type": "number",
            "description": "Mileage increase limit for the group.",
            "example": 100
          },
          "application_tab": {
            "type": "string",
            "description": "Default mobile app tab key for the group.",
            "example": "default"
          },
          "application_tab_label": {
            "type": "string",
            "description": "Human-readable label derived from `application_tab`.",
            "example": "~ Inherit default tab ~"
          },
          "currency": {
            "type": "object",
            "description": "Currency configuration for the group, if available.",
            "properties": {
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "name": {
                "type": "string",
                "example": "US Dollar"
              },
              "symbol": {
                "type": "string",
                "example": "$"
              },
              "is_symbol_first": {
                "type": "boolean",
                "description": "True if the currency symbol is shown before the amount; false if after.",
                "example": true
              }
            }
          },
          "location": {
            "type": "object",
            "description": "Location details for the group, if available.",
            "additionalProperties": true
          }
        }
      },
      "companyUserDetail": {
        "description": "A detailed company user object.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/companyUser"
          },
          {
            "type": "object",
            "properties": {
              "activeCarHolds": {
                "type": "array",
                "description": "Cars currently assigned to the user within their groups and within the active assignment window (the time between receiving and transferring the car). Empty array when none are set.",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "removable": {
                "type": "boolean",
                "description": "True if the current user can remove this user; false otherwise.",
                "example": true
              },
              "resend": {
                "type": "object",
                "description": "Available resend actions for this user.",
                "properties": {
                  "verification_sms": {
                    "type": "boolean",
                    "description": "True if a verification SMS can be resent.",
                    "example": false
                  },
                  "welcome_email": {
                    "type": "boolean",
                    "description": "True if a welcome email can be resent.",
                    "example": true
                  }
                }
              }
            }
          }
        ],
        "properties": {}
      },
      "companyUserWithAccidents": {
        "description": "A company user object with accident count.",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/user.id"
          },
          "type": {
            "type": "string",
            "description": "The resource type.",
            "example": "user"
          },
          "name": {
            "$ref": "#/components/schemas/user.name"
          },
          "first_name": {
            "$ref": "#/components/schemas/user.first_name"
          },
          "last_name": {
            "$ref": "#/components/schemas/user.last_name"
          },
          "gender": {
            "$ref": "#/components/schemas/user.gender"
          },
          "login": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user.login"
              }
            ],
            "nullable": true
          },
          "email": {
            "$ref": "#/components/schemas/user.email"
          },
          "phone": {
            "$ref": "#/components/schemas/user.phone"
          },
          "mobile_verified": {
            "$ref": "#/components/schemas/user.mobile_verified"
          },
          "picture": {
            "$ref": "#/components/schemas/user.picture"
          },
          "language": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user.language"
              }
            ],
            "nullable": true
          },
          "zip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/user.zip"
              }
            ],
            "nullable": true
          },
          "role_updatable": {
            "description": "True if you can update the user's role; false for fleet owners.",
            "type": "boolean",
            "example": true
          },
          "has_system_global_role": {
            "type": "boolean",
            "description": "True if the user has a system-level global role (role without a company or group scope).",
            "example": false
          },
          "company": {
            "$ref": "#/components/schemas/company.name"
          },
          "timezone": {
            "$ref": "#/components/schemas/user.timezone"
          },
          "default_visibility": {
            "$ref": "#/components/schemas/user.default_visibility"
          },
          "notes": {
            "$ref": "#/components/schemas/user.notes"
          },
          "notification_channels": {
            "type": "integer",
            "description": "A bitmask of enabled notification channels. Example: `10` (decimal) = `1010` (binary). Channel values: `Email=1`, `SMS=2`, `Push=4`, `In-app=8`. `10` = `8` + `2`, so In-app and SMS are enabled.",
            "example": 10
          },
          "last_login": {
            "type": "string",
            "description": "The last login timestamp. Empty when unknown.",
            "example": "2025-01-24 14:05:00"
          },
          "last_activity": {
            "type": "string",
            "description": "The last activity source. Possible values: `App` (mobile app) or `Dashboard` (web dashboard). Empty when unknown.",
            "example": "App"
          },
          "status": {
            "type": "integer",
            "description": "The user status code. Values: `0=Deactivated`, `1=Active`, `2=Invited`, `3=Never logged in`.",
            "example": 2
          },
          "status_string": {
            "type": "string",
            "description": "The user status label that corresponds to `status`.",
            "example": "Invited"
          },
          "deactivated_at": {
            "type": "string",
            "description": "The deactivation timestamp. Empty when the user is active.",
            "example": "2025-01-12 09:30:00"
          },
          "related_id": {
            "type": "string",
            "description": "An external identifier that links this user with another system.",
            "example": null,
            "nullable": true
          },
          "application_tab": {
            "type": "string",
            "description": "The default mobile app tab key for the user. This is a string enum with allowed values: `default`, `home`, `wo`, `assets`, `tasks`, `history`, `issues`, `documents`, `daily`, `insights`. The `default` value means inherit the environment-level default tab (by default, Home).",
            "example": "default"
          },
          "application_tab_label": {
            "type": "string",
            "description": "The human-readable label derived from `application_tab`.",
            "example": "~ Inherit default tab ~"
          },
          "attributes": {
            "type": "object",
            "description": "A key-value map of custom user attributes. Empty object when none are set.",
            "additionalProperties": true
          },
          "groups": {
            "type": "array",
            "description": "An array of company groups the user belongs to, including the user's role in each group.",
            "items": {
              "type": "object",
              "properties": {
                "group_id": {
                  "type": "integer",
                  "description": "The company group ID.",
                  "example": 56
                },
                "group_name": {
                  "type": "string",
                  "description": "The company group name.",
                  "example": "First team"
                },
                "role_id": {
                  "type": "integer",
                  "description": "The company role ID.",
                  "example": 65
                },
                "role": {
                  "type": "string",
                  "description": "The company role name.",
                  "example": "manager"
                }
              }
            }
          },
          "role": {
            "type": "string",
            "description": "The global role name (not restricted to a group). Can be empty if the user has only group roles or no global role.",
            "example": ""
          },
          "currency": {
            "type": "object",
            "description": "Currency configuration used for this user and company context.",
            "properties": {
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "name": {
                "type": "string",
                "example": "US Dollar"
              },
              "symbol": {
                "type": "string",
                "example": "$"
              },
              "is_symbol_first": {
                "type": "boolean",
                "description": "True if the currency symbol is shown before the amount; false if after.",
                "example": true
              }
            }
          },
          "accidents": {
            "type": "integer",
            "description": "Number of accident records for the user.",
            "example": 0,
            "readOnly": true
          }
        }
      }
    },
    "requestBodies": {
      "users.storeCompanyUser": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "description": "Provide either a global role or group role assignments. Use `role` for a global role, or `groups` for group roles (not both). See the examples for both valid request shapes.",
              "required": [
                "first_name",
                "last_name",
                "email"
              ],
              "properties": {
                "first_name": {
                  "$ref": "#/components/schemas/user.first_name"
                },
                "last_name": {
                  "$ref": "#/components/schemas/user.last_name"
                },
                "login": {
                  "$ref": "#/components/schemas/user.login"
                },
                "email": {
                  "$ref": "#/components/schemas/user.email"
                },
                "phone": {
                  "$ref": "#/components/schemas/user.phone"
                },
                "password": {
                  "type": "string",
                  "minLength": 4,
                  "description": "The user's password.",
                  "writeOnly": true
                },
                "confirm_password": {
                  "description": "Password confirmation, if provided.",
                  "type": "string",
                  "writeOnly": true
                },
                "role": {
                  "description": "The global role name (not restricted to a group). Required if `groups` is not provided. Use `GET /userApi/fleets/roles` to find valid role names.",
                  "type": "string"
                },
                "language": {
                  "description": "The user's preferred UI language.",
                  "type": "string",
                  "example": "en",
                  "nullable": true
                },
                "timezone": {
                  "description": "The user's timezone (IANA time zone name).",
                  "type": "string",
                  "example": "Europe/Helsinki"
                },
                "application_tab": {
                  "description": "The default mobile app tab key for the user. This is a string enum with allowed values: `default`, `home`, `wo`, `assets`, `tasks`, `history`, `issues`, `documents`, `daily`, `insights`. The `default` value means inherit the environment-level default tab (by default, Home).",
                  "type": "string",
                  "example": "default",
                  "nullable": true
                },
                "notes": {
                  "$ref": "#/components/schemas/user.notes"
                },
                "related_id": {
                  "type": "string",
                  "description": "An external identifier that links this user with another system.",
                  "example": null,
                  "nullable": true
                },
                "attributes": {
                  "type": "object",
                  "description": "A key-value map of custom user attributes. Empty object when none are set.",
                  "additionalProperties": true
                },
                "groups": {
                  "description": "An array of group role assignments. Required if `role` is not provided. Each item must include `group_id` and `role_id`. Use `GET /userApi/fleets/groups` for group IDs and `GET /userApi/fleets/roles` for role IDs.",
                  "type": "array",
                  "items": {
                    "properties": {
                      "group_id": {
                        "description": "The company group ID.",
                        "type": "number",
                        "format": "integer",
                        "example": 200
                      },
                      "role_id": {
                        "description": "The company role ID.",
                        "type": "number",
                        "format": "integer",
                        "example": 100
                      }
                    },
                    "type": "object",
                    "format": "object",
                    "required": [
                      "group_id",
                      "role_id"
                    ]
                  }
                }
              },
              "type": "object"
            },
            "examples": {
              "Include global role": {
                "summary": "Provide global role",
                "value": {
                  "first_name": "Anton",
                  "last_name": "Docs",
                  "email": "anton@example.com",
                  "role": "manager",
                  "timezone": "Pacific/Honolulu",
                  "language": "en"
                },
                "description": "Use when assigning a single global role to the user."
              },
              "Assign/include a group role": {
                "summary": "Provide a group role",
                "value": {
                  "first_name": "Anton",
                  "last_name": "Docs",
                  "email": "anton@example.com",
                  "groups": [
                    {
                      "group_id": 56,
                      "role_id": 65
                    }
                  ],
                  "timezone": "Pacific/Honolulu",
                  "language": "en"
                },
                "description": "Use when assigning one or more group roles to the user."
              }
            }
          }
        },
        "description": "Role assignment is mutually exclusive: provide either `role` (global role) or `groups` (group roles)."
      }
    },
    "responses": {
      "401JWT": {
        "description": "Unauthorized. Missing, invalid, or expired token.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "error": {
                  "type": "string",
                  "example": "Token invalid"
                },
                "error_code": {
                  "type": "integer",
                  "example": 401
                },
                "error_messages": {
                  "type": "string",
                  "example": "Token invalid"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "403JWT": {
        "description": "Forbidden. Not enough permissions.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "Oops! Not enough permissions. Please contact your administrator"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Send the access token in the Authorization header using the Bearer scheme. Example: `Authorization: Bearer <token>`."
      }
    }
  }
}