@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f06723;
  --ifm-color-primary-dark: #e05f20;
  --ifm-color-primary-darker: #d35a1e;
  --ifm-color-primary-darkest: #b64d1a;
  --ifm-color-primary-light: #f2783d;
  --ifm-color-primary-lighter: #f38652;
  --ifm-color-primary-lightest: #f7a57d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f38652;
  --ifm-color-primary-dark: #f17236;
  --ifm-color-primary-darker: #ee6729;
  --ifm-color-primary-darkest: #d8571f;
  --ifm-color-primary-light: #f59a6e;
  --ifm-color-primary-lighter: #f7a883;
  --ifm-color-primary-lightest: #fac1a7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  margin-right: 32px;
}

/* Inline step number */
.step {
  --s: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transform: translateY(-2px);

  width: var(--s);
  height: var(--s);
  border-radius: 999px;

  background: var(--ifm-color-primary);
  color: #ffffff;

  font-weight: 700;
  font-size: 12px;
  line-height: 1;

  vertical-align: baseline;
  margin-left: 0.1rem;
}

/* Reduce space between list text and image in docs */
.theme-doc-markdown li > p:has(+ img) {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

/* Add more space after images in doc pages */
.theme-doc-markdown img {
  margin-bottom: 1rem;
}

/* Fonts */
:root {
  --ifm-heading-font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --ifm-heading-font-weight: 700;
}

/* top nav */
.navbar {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

/* Sidebar (docs) */
.menu {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

/* Footer */
.footer {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.title,
.subtitle,
.primaryButton {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

/* Inline circle with icon */
.icon-circle {
  --s: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transform: translateY(-2px);

  width: var(--s);
  height: var(--s);
  border-radius: 999px;

  background: #2684ff;
  color: #ffffff;

  font-weight: 700;
  font-size: 13px;
  line-height: 1;

  vertical-align: baseline;
  margin-left: 0.1rem;
}

/* Upper romanian numbers for nested numbered list */
ol ol {
  list-style-type: upper-roman;
}
